/* src/components/MobileMenu.css */
.mobile-menu {
    padding: 20px;
    background-color: #f9f9f9;
}

.mobile-menu ul {
    list-style-type: none;
    padding: 0;
}

.mobile-menu li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.mobile-menu img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.mobile-menu span {
    font-size: 18px;
    font-weight: bold;
}
